<html>
<title>Home</title>
<body>
	Hello {{ firstname }}
	<br>
	<form method="POST" action="/follow">
		<input type="hidden" name="pageid" value="{{ pageid }}">
		{% autoescape off%}
		{{ followcode }}
		{% endautoescape %}
	</form>
	<form method="POST" action="/posts">
		Status Update:
        <input type="text" name="postdata" style="width:300px;height:30px;">
        <br>
        <input type="submit" name="postupdate" value="update">
	</form>
	<br>
	<form method="GET" action="/search">
		Search User:
        <input type="text" name="query" style="width:300px;height:30px;">
        <br>
        <input type="submit" name="search" value="search">
	</form>
	Updates:
	<br>
	{% for post in resultset %}
	 {{ post.post_data }}
	 <br>
	{% endfor %}
	<a href="notifications">Notifications </a>
	<br>
	<a href="/logout">Logout</a>
</body>
</html>