<html>
<head>
<title>WeKanCode</title>
</head>
<body>
<h4>LOGIN </h4>
<form method=post action="/login" >
Username:<input type=text name=uname1 />
<br>
Password:<input type=password name=pword1 />
<br>
<input type=submit name=login value=login />
</form>
<h4> Register </h4>
<form method=post action="/login" >
UserName : <input type=text name=uname />
<br>
First Name : <input type=text name=fname />
<br>
Last Name : <input type=text name=lname />
<br>
Email ID : <input type=text name=email />
<br>
Password : <input type=text name=pword />
<br>
<input type=submit name=register value=register />
</form>
</body>
</html>
